{% extends "./base.html" %}
{% block title %}kintai1{% endblock %}
{% load static %}
 
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
{% block content %}
    <p>自分の勤怠管理</p>
    <form method="post">
    <div class="alert alert-primary" role="alert">
      <p>現在日時</p>
      <p id="nowtime">時間が入るよ</p>
    </div>
      {% csrf_token %}
      <div class="kintai-btn">
        <button class="btn btn-primary" type="submit" name="syukkin-btn">出勤</button>
        <button class="btn btn-primary" type="submit" name="taikin-btn">退勤</button>
      </div>
    </form>
  
    <br/>
    <br/>
    <div class="form-group">
      <label for="textarea">作業内容:</label>
      <textarea id="textarea" class="form-control"></textarea>
      <br>
      <button class="btn btn-primary" type="submit">作業内容送信</button>
    </div>
    <br/>
    <div class="form-group">
      <label for="textarea">備考:</label>
      <textarea id="textarea" class="form-control"></textarea>
      <br>
      <button class="btn btn-primary" type="submit">備考内容送信</button>
    </div>
  {% endblock %}
   
  {% block javascripts %}
    <script>
      document.getElementById("nowtime").innerHTML = showTime();
      setInterval('showTime()',1000);
      function showTime(){
        var now = new Date();
        var nowyear = now.getFullYear();
        var nowmonth = now.getMonth()+1;
        var nowdate = now.getDate();
        var nowhours = now.getHours();
        var nowminites = now.getMinutes();
        var nowseconds = now.getSeconds();
        // var text = nowdate + " " + nowhours + ":" + nowminites + ":" + nowseconds;
        var text = nowyear + "年" + nowmonth + "月" +nowdate + "日" + nowhours + ":" + nowminites + ":" + nowseconds;
        return text;
      }

    </script>
  {% endblock javascripts %}
  </body>
</html>

 